.fetchbtn {
  width: fit-content;
  color: rgb(3, 45, 39);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgb(3, 45, 39);
  letter-spacing: 0.06em;
}
.fetchbtn:hover {
  scale: 1.1;
  color: #b08d57;
  border-bottom: 1px solid #b08d57;
}
.heading {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(3, 45, 39);
}
.quiriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vh;
  justify-items: center;
  align-content: center;
  padding: 1rem;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.no {
  font-size: 5rem;
  color: rgb(3, 45, 39);
  font-weight: bold;
  grid-column: 1/-1;
  margin-top: 20vh;
}
.queryBox {
  background-color: rgb(3, 45, 39);
  color: whitesmoke;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
}
.date {
  text-align: center;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  color: #b08d57;
  font-size: 1.4rem;
  font-weight: bold;
}
.dlt {
  width: fit-content;
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
  filter: invert();
}
.dlt:hover {
  scale: 1.2;
}
.queryBox ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  margin: 0;padding: 0;
}
.queryBox ul li {
  letter-spacing: 0.1em;
}

@media screen and (max-width: 800px) {
  .fetchbtn {
    font-size: 0.9rem;
    letter-spacing: 0.03em;
  }
  .heading {
    font-size: 1.2rem;
  }
  .quiriesContainer {
    grid-template-columns: 1fr;
    gap: 1svh;
    padding: 0.1rem;
    margin-bottom: 3svh;
    margin-top: 3svh;
  }
  .date {
    margin-top: 0.8svh;
    font-size: 1.1rem;
  }
  .no {
    font-size: 250%;
    margin-top: 25svh;
  }

  .queryBox {
    font-size: 1rem;
    padding:1rem;
  }
  .queryBox ul li {
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .quiriesContainer {
    grid-template-columns: 1fr 1fr;
  }
}
